footer {
    float: bottom;
}

figure img{
    width: cover;
    opacity: .2;
}

body {
    margin-top: auto;
    background-image: url(./images/blueskybkgnd1.jpg);
    background-size: cover;
    
}

h1{
   
}

p{

}

section {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.aboutmeimg {
    width: 200px;
    float: left;
    margin-right: 10px;

}

.aboutbox1 {
    margin-top: 100px;
}